[submodule "unicode-emoji-json"]
	path = unicode-emoji-json
	url = https://github.com/muan/unicode-emoji-json
[submodule "twemoji"]
	path = twemoji
	url = https://github.com/twitter/twemoji
[submodule "gemoji"]
	path = gemoji
	url = https://github.com/github/gemoji
